name: test

on:
  push:
    branches: [ master ]
  pull_request:
    paths:
      - '**.go'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Go
        id: install-go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Cache Go mod
        id: gomod
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Cache Go build
        uses: actions/cache@v5
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-go-build-

      - name: Download dependencies
        run: go mod download
        if: steps.gomod.outputs.cache-hit != 'true'

      - name: Download nmap
        run: sudo apt-get install -y nmap

      - name: Print Go version
        run: go version
        
      - name: Run Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2

      - name: Setup gotestsum
        uses: gertd/action-gotestsum@v3.0.0
        with:
          gotestsum_version: v1.13.0

      - name: Run Tests
        env: 
          TEST_DIR: ${{ inputs.TEST_DIR }}
        run: |
          GOTESTSUM_FLAGS="--junitfile tests.xml --format pkgname -- -cover -race"
          if [ -z "$TEST_DIR" ]; then
            gotestsum $GOTESTSUM_FLAGS ./...
          else
            gotestsum $GOTESTSUM_FLAGS ./$TEST_DIR/...
          fi

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "tests.xml"
        if: always()
